.container {
    margin-top: 15px;
    width: 100%;
}

.form_head {
    margin-top: 30px;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-primary,
.btn:active {
    background: #11998e !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
}

.display__form {
    margin-top: 2rem;
    padding: 2rem;
    height: 250px;
    background: #11998e !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #38ef7d,
        #11998e
    ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.deposits {
    color: white;
    font-size: 40px;
}
.rate_text {
    text-transform: uppercase;
    color: white;
}
.description {
    color: white;
    font-size: 15px;
}
.empty {
    color: white;
    font-size: 20px;
    text-align: center;
}
